<div class="row">
    <div class="col-8 offset-2">
        <h1 class="row mt-5 mb-5 d-flex justify-content-center">People</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let p of people">
                    <td>{{p.name.firstname}} {{p.name.lastname}}</td>
                    <td>{{p.email}}</td>
                    <td>{{ p.phone}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm"
                        routerLink="/people/{{p.id}}">
                            details
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>